.modal {
  position:fixed;
  inset:0;
  z-index:1050;
  
  background-color:#000c;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  padding: 10px;
}
.closed {
  display: none;
}
.modal > * {
  color: var(--page-text-color, #4a4a4a);
  background-color: var(--page-bg, #fefefe);
  border: 2px solid var(--body-bg, #dcdde0);
  border-radius: 4px;

  padding: 5px;
  width: calc(var(--item-width, 100%) - 10px);
}
@media (min-width: 768px) {
  .modal {
    padding: 30px;
  }
}

.controller {
  display: flex;
  flex-direction: row-reverse;
  gap: 0.2em;
}
input {
  width: 100%;
}
time {
  white-space: nowrap;
}

.viewer {
  overflow-y: scroll;
}
pre {
  width: 100%;
  font-family: var(--history-slider-pre-font, Menlo,Monaco,Consolas,"Courier New",monospace);
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
}

